<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head profile="http://gmpg.org/xfn/11">
  <title><%= h(page_title) %></title>
  <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.css", "/stylesheets/theme/style.css", :media => 'all' %>
  <%= page_header %>
</head>
<body>
	<div id='main'>
  	  
     <div class='navbar navbar-fixed-top'>
       <div class='navbar-inner'>
         <div class='container'>
			 <a class="brand" href="#">Greg Wallace</a>
	
           <ul class='nav'>
             <%= content_tag(:li, link_to(_('Home'), this_blog.base_url, {:class => render_active_home}))%>
             <%= content_tag(:li, link_to(_('Articles'), {:controller => 'categories'}, {:class => render_active_articles}))%>
             <%= show_pages_links %>
           </ul>
         </div>

       </div>
     </div>
	
     <div id='page' class='container'>
       <div class='row'>
         <div class='span9'>
           <%= yield %>
         </div>
         <div id='sidebar' class='span3'>
           <%= render_sidebars %>
         </div>
			</div>
    </div>
  <p style='text-align: center'><small>Powered by <a href='http://typosphere.org'>Typo</a> </small></p>
  </div>
</div>
</body>
</html>
